/ Hero
%section#hero.container
  %header
/ Features 1
.wrapper
  .container
    .row
      %nav#nav
        %ul
          %li
            %a{href: "#goals"} Goals
          %li
            %a{href: "#partners"} Partners
          %li
            %a{href: "#about"} About Us
          %li
            %a{href: "#contact"} Contact
    .row
      %h2.welcome
        %u 
          Welcome to Ensemble Solutions
      %p
        According to major economic institutions such as the World Bank and the International Monetary Fund, Africa’s economies are on the move. African economies are still benefiting from rising global demand for oil, natural gas, minerals and other natural resources - but there is also ferment in the entrepreneurial and small business sectors, further accelerating the continent's economic growth.
      %p
        Our project aims to create a center for Innovation Technology in Cameroon. This center will foster innovation by creating a space where entrepreneurs can collaborate and engage each other while providing groups and individuals with high-quality training in professional and entrepreneurship skills - in order to increase their capacity to improve their lives, and better serve their community.

    .row
      %header.major
        %h2
          %u Resources we plan to provide include:

      %section.6u.feature
        .image-wrapper
          %img.image.full{alt: "", src: "images/pic2.jpg"}/
        %header
          %h3
            Business Incubation
        %p
          Africa's economies boast enormous scope for innovation in emerging sectors such as green agriculture, eco-tourism, IT, biotechnology, and clean energy.  Ensemble Solutions aims to spur growth in these fast-growing domains.

        / %ul.actions
        /   %li
        /     %a.button{href: "#"} Learn More
      %section.6u.feature
        .image-wrapper
          %img.image.full{alt: "", src: "/images/pic3.jpg"}/
        %header
          %h3
            Business Education
        %p
          We will provide professional training in practical job skills, technological innovation, and leadership cultivation - to equip young African entrepreneurs with the tools they need to implement their ideas and spur growth in their communities.

      %section.6u.feature
        .image-wrapper
          %img.image.full{alt: "", src: "/images/pic1.jpg"}/
        %header
          %h3
            Technology Education
        %p
          With the majority of job growth in coming years expected to fall in technology fields, we plan to offer a range of tech and IT training including general computer skills, Microsoft Office suite, computer programming and web development, and more.  
      %section.6u.feature
        .image-wrapper
          %img.image.full{alt: "", src: "/images/pic4.jpg"}/
        %header
          %h3
            Mentoring
        %p
          Starting and growing businesses is challenging work.  We hope to leverage our collective experience in management, marketing, and entrepreneurship to advise and support those who have launched - or who plan to launch - innovative new businesses.

    .row
      %header.major
        %h2
          %u#about About Us
      .row.features
        %section.3u.feature
          .image-wrapper
            %img.image.full.bio{alt: "Achille Massoma Photo", src: "/images/headshots/achille-massoma.jpg"}/
          %h4.bio
            Achille Massoma
          %p
            Born in Cameroon and now residing in California, Achille has extensive experience in marketing, communication, business development, and a range of entrepreneurial projects.  Responsibilities include management, strategy, and market planning.
        %section.3u.feature
          .image-wrapper
            %img.image.full.bio{alt: "Samuel Eke Photo", src: "/images/headshots/samuel-eke.jpg"}/
          %h4.bio
            Eke Samuel
          %p
            Eke is an educator and an entrepreneur. He teaches in a number of technical Universities in Douala, Cameroon. Eke and his team of student engineers are currently working on issues related to telecom and energy. Eke will lead our department of local innovators. 
        %section.3u.feature
          .image-wrapper
            %img.image.full.bio{alt: "Lorenzo Photo", src: "images/headshots/lorenzo.jpg"}/
          %h4.bio
            Paul Angui
          %p 
            Paul is a journalist and the founder of Kwanza a communication and marketing company in Cameroon.  and has over 20 years of combined experience in the communication and creative services industry.  He will manage PR and communications.
        %section.3u.feature
          .image-wrapper
            %img.image.full.bio{alt: "Emannuel Makasso Photo", src: "images/headshots/emannuel-makasso2.jpg"}/
          %h4.bio
            E.M Makasso
          %p 
            Emmanuel is a researcher and lecturer in linguistics and cultural communication.  He holds a PhD from the University of Provence and conducted postdoctoral research at University of Paris 3 – Sorbonne-Nouvelle. Emmanuel will provide advice and mentorship for the project.

