/ Hero
%section#hero.container
  %header
    %h2
      Telephasic is a responsive
      %br/
      site template by
      %a{href: "http://html5up.net/"} HTML5 UP
  %p
    Designed and built on
    %a{href: "http://skeljs.org"} skelJS
    by
    = succeed "." do
      %a{href: "http://n33.co"} AJ
    %br/
    the
    = succeed "." do
      %a{href: "http://html5up.net/license/"} Creative Commons Attribution 3.0 license
  %ul.actions
    %li
      %a.button{href: "#"} Get this party started
/ Features 1
.wrapper
  .container
    .row
      %section.6u.feature
        .image-wrapper.first
          %a.image.full.first{href: "http://ineedchemicalx.deviantart.com/art/Mind-is-a-clear-stage-375431607"}
            %img{alt: "", src: "images/pic01.jpg"}/
        %header
          %h2
            Semper magna neque vel
            %br/
            adipiscing curabitur
        %p
          Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
          sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
          adipiscing elit. Curabitur vel sem sit.
        %ul.actions
          %li
            %a.button{href: "#"} Elevate my awareness
      %section.6u.feature
        .image-wrapper
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Freebird-378379295"}
            %img{alt: "", src: "images/pic02.jpg"}/
        %header
          %h2
            Amet lorem ipsum dolor
            %br/
            sit consequat magna
        %p
          Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
          sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
          adipiscing elit. Curabitur vel sem sit.
        %ul.actions
          %li
            %a.button{href: "#"} Elevate my awareness
/ Promo
#promo-wrapper
  %section#promo
    %h2 Neque semper magna et lorem ipsum adipiscing
    %a.button{href: "http://ineedchemicalx.deviantart.com/art/A-breath-of-Hope-366359145"} Breach the thresholds
/ Features 2
.wrapper
  %section.container
    %header.major
      %h2 Sed magna consequat lorem curabitur tempus
      %span Elit aliquam vulputate egestas euismod nunc semper vehicula lorem blandit
    .row.features
      %section.4u.feature
        .image-wrapper.first
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Time-goes-by-too-fast-335982438"}
            %img{alt: "", src: "images/pic03.jpg"}/
        %p
          Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
          vel sem sit dolor neque semper magna lorem ipsum.
      %section.4u.feature
        .image-wrapper
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Kingdom-of-the-Wind-348268044"}
            %img{alt: "", src: "images/pic04.jpg"}/
        %p
          Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
          vel sem sit dolor neque semper magna lorem ipsum.
      %section.4u.feature
        .image-wrapper
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Elysium-355393900"}
            %img{alt: "", src: "images/pic05.jpg"}/
        %p
          Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
          vel sem sit dolor neque semper magna lorem ipsum.
    %ul.actions.major
      %li
        %a.button{href: "#"} Elevate my awareness