/ Hero
%section#hero.container
  %header
/ Features 1
.wrapper
  .container
    .row
      #content
        %h2
          Welcome to Ensemble Solutions
        %p
          According to major economic institutions such as the World Bank and the International Monetary Fund, Africa’s economies are on the move. Africa’s economic pulse has quickened, infusing the continent with new business vibrancy. African economies are still benefiting from rising global demand for oil, natural gas, minerals and other natural resources - but there is also ferment in the entrepreneurial and small business sectors, further accelerating Africa’s economic growth.
        %p 
          This project is designed to fill the urgent need for skilled workers in Africa's fast growing economies.  As local governments fight agains corruption, labor productuvity continues to rise, and the number of urban consumers increases, Ensemble Solutions sees a great opportunity to seed growth across the continent.
    .row
      %section.6u.feature
        .image-wrapper.first
          %a.image.full.first{href: "http://ineedchemicalx.deviantart.com/art/Mind-is-a-clear-stage-375431607"}
            %img{alt: "", src: "images/pic01.jpg"}/
        %header
          %h2
            Innovation
        %p
          Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
          sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
          adipiscing elit. Curabitur vel sem sit.
        %ul.actions
          %li
            %a.button{href: "#"} Elevate my awareness
      %section.6u.feature
        .image-wrapper
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Freebird-378379295"}
            %img{alt: "", src: "/images/pic02.jpg"}/
        %header
          %h2
            Education
        %p
          Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
          sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
          adipiscing elit. Curabitur vel sem sit.
        %ul.actions
          %li
            %a.button{href: "#"} Elevate my awareness
/ Features 2
.wrapper
  %section.container
    %header.major
      %h2 Sed magna consequat lorem curabitur tempus
      %span Elit aliquam vulputate egestas euismod nunc semper vehicula lorem blandit
    .row.features
      %section.4u.feature
        .image-wrapper.first
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Time-goes-by-too-fast-335982438"}
            %img{alt: "", src: "/images/pic03.jpg"}/
        %p
          Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
          vel sem sit dolor neque semper magna lorem ipsum.
      %section.4u.feature
        .image-wrapper
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Kingdom-of-the-Wind-348268044"}
            %img{alt: "", src: "/images/pic04.jpg"}/
        %p
          Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
          vel sem sit dolor neque semper magna lorem ipsum.
      %section.4u.feature
        .image-wrapper
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Elysium-355393900"}
            %img{alt: "", src: "images/pic05.jpg"}/
        %p
          Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
          vel sem sit dolor neque semper magna lorem ipsum.
    %ul.actions.major
      %li
        %a.button{href: "#"} Elevate my awareness