/ Hero
%section#hero.container
  %header
/ Features 1
.wrapper


  .container
    .row
      %nav#nav
        %ul 
          %li
            %a{href: "#about"} Our Project
          %li
            %a{href: "#contact"} Goals
          %li
            %a{href: "#contact"} About Us
          %li 
            %a{href: "#contact"} Contact
    .row
      #content
        %h2.welcome
          Welcome to Ensemble Solutions
        %p
          According to major economic institutions such as the World Bank and the International Monetary Fund, Africa’s economies are on the move. African economies are still benefiting from rising global demand for oil, natural gas, minerals and other natural resources - but there is also ferment in the entrepreneurial and small business sectors, further accelerating the continent's economic growth.
        %p
          Our project aims to create a center for Innovation technology, professional and business training in Cameroon. This center will foster innovation by creating a space where entrepreneurs can collaborate and engage each other while providing groups and individuals with high-quality training programs in professional and entrepreneurship skills - in order to increase their capacity to improve their lives, and better serve their community.
          
    .row
      %section.6u.feature
        .image-wrapper.first
          %a.image.full.first{href: "http://ineedchemicalx.deviantart.com/art/Mind-is-a-clear-stage-375431607"}
            %img{alt: "", src: "images/pic01.jpg"}/
        %header
          %h2
            Innovation
        %p
          Africa's economies boast enormous scope for innovation in emerging sectors such as green agriculture, eco-tourism, IT, biotechnology, and clean energy.  Ensemble Solutions aims to spur growth in these domains - and in those to come.
          
        %ul.actions
          %li
            %a.button{href: "#"} Learn More
      %section.6u.feature
        .image-wrapper
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Freebird-378379295"}
            %img{alt: "", src: "/images/pic02.jpg"}/
        %header
          %h2
            Education
        %p
          We will provide professional training in practical job skills, technological innovation, and leadership cultivation - to equip young African entrepreneurs with the tools they need to implement their ideas and spur growth in their communities.
          
          
        %ul.actions
          %li
            %a.button{href: "#"} Learn More
/ Features 2
.wrapper
  %section.container
    %header.major
      %h2 We are partnering with major NGOs and Non-Profits to advance Cameroon's economy 
      %span Help us spark the revolution! 
    .row.features
      %section.4u.feature
        .image-wrapper.first
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Time-goes-by-too-fast-335982438"}
            %img{alt: "", src: "/images/pic03.jpg"}/
        %p
          School building
      %section.4u.feature
        .image-wrapper
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Kingdom-of-the-Wind-348268044"}
            %img{alt: "", src: "/images/pic04.jpg"}/
        %p
          Innovation Incubation 
      %section.4u.feature
        .image-wrapper
          %a.image.full{href: "http://ineedchemicalx.deviantart.com/art/Elysium-355393900"}
            %img{alt: "", src: "images/pic05.jpg"}/
        %p
          Technological Training 
    %ul.actions.major
      %li
        %a.button{href: "#"} Learn More