!!!
%html
  %head
    %title Ensemble Solutions
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "content-type"}/
    %meta{content: "Empowering Change in Cameroon", name: "description"}/
    %meta{content: "Cameroon Innovation Technology Education", name: "keywords"}/
    /%link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600", rel: "stylesheet", type: "text/css"}/
    /[if lte IE 8] <script src="js/html5shiv.js"></script>
    %script{src: "js/jquery.min.js"}
    %script{src: "js/skel.min.js"}
    %script{src: "js/skel-panels.min.js"}
    %script{src: "js/init.js"}
  %body
    %noscript
      %link{href: "css/skel-noscript.css", rel: "stylesheet"}/
      %link{href: "css/style.css", rel: "stylesheet"}/
      %link{href: "css/style-n1.css", rel: "stylesheet"}/
    / Header Wrapper
    #header-wrapper
      / Header
      #header.container
        / Logo
        %h1#logo
          %a{href: "index.html"} Ensemble Solutions
      = yield
      
    / Footer Wrapper
    #footer-wrapper
      / Footer
      #footer.container
        %header.major
          %h2
            Have feedback?  Want to get involved?
          %h2.emph
            Get in touch!
          / %span
          /   Together we can help build Africa and Cameroon's economic future.
        .row
          %section.6u
            %form{action: "/send", method: "post", id: "contact-form"}
              #form
                .row.half
                  .6u
                    %input.text{name: "name", placeholder: "Name", type: "text"}/
                  .6u
                    %input.text{name: "email", placeholder: "Email", type: "text"}/
                .row.half
                  .12u
                    %textarea{name: "message", placeholder: "Message"}
                .row.half
                  .12u
                    %ul.actions
                      %li
                        %input.button.submit{type: 'submit', value: 'Send Message', id: 'submit'}
                      %li
                        %input.button.submit{type: 'reset'}
          %section.6u
            .row.no-collapse-1
              %ul.divided.icons.6u
                %li.icon.icon-twitter
                  %a{href: "http://www.twitter.com/ensemblesolutions"}
                    %span.extra> twitter.com/
                    ensemblesolutions
                %li.icon.icon-facebook
                  %a{href: "http://www.facebook.com/ensemblesolutions"}
                    %span.extra> facebook.com/
                    ensemblesolutions
      / Copyright
      #copyright.container
        %ul.menu
          %li © Ensemble Solutions. All rights reserved.
          %li
            Site build by
            %a{href: "http://www.github.com/beaugaines", target: "_blank"} Charlie Gaines
          %li
            Hat tip to
            %a{href: "http://html5up.net/", target: "_blank"} HTML5 UP
