!!!
%html
  %head
    %title Telephasic by HTML5 UP
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "content-type"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "keywords"}/
    %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600", rel: "stylesheet", type: "text/css"}/
    /[if lte IE 8] <script src="js/html5shiv.js"></script>
    %script{src: "js/jquery.min.js"}
    %script{src: "js/jquery.dropotron.js"}
    %script{src: "js/skel.min.js"}
    %script{src: "js/skel-panels.min.js"}
    %script{src: "js/init.js"}
  %body
    %noscript
      %link{href: "css/skel-noscript.css", rel: "stylesheet"}/
      %link{href: "css/style.css", rel: "stylesheet"}/
      %link{href: "css/style-n1.css", rel: "stylesheet"}/
    / Header Wrapper
    #header-wrapper
      / Header
      #header.container
        / Logo
        %h1#logo
          %a{href: "index.html"} Ensemble Solutions
        / Nav
        %nav#nav
          %ul
            %li
              %a{href: ""} Dropdown
              %ul
                %li
                  %a{href: "#"} Lorem ipsum dolor
                %li
                  %a{href: "#"} Magna phasellus
                %li
                  %a{href: "#"} Etiam dolore nisl
                %li
                  %span Phasellus consequat
                  %ul
                    %li
                      %a{href: "#"} Lorem ipsum dolor
                    %li
                      %a{href: "#"} Phasellus consequat
                    %li
                      %a{href: "#"} Magna phasellus
                    %li
                      %a{href: "#"} Etiam dolore nisl
                %li
                  %a{href: "#"} Veroeros feugiat
            %li
              %a{href: "left-sidebar.html"} Left Sidebar
            %li.break
              %a{href: "right-sidebar.html"} Right Sidebar
            %li
              %a{href: "no-sidebar.html"} No Sidebar
      = yield
      
    / Footer Wrapper
    #footer-wrapper
      / Footer
      #footer.container
        %header.major
          %h2 Euismod aliquam vehicula lorem
          %span
            Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel sem sit
            %br/
            dolor neque semper magna lorem ipsum feugiat veroeros lorem ipsum dolore.
        .row
          %section.6u
            %form{action: "#", method: "post"}
              .row.half
                .6u
                  %input.text{name: "name", placeholder: "Name", type: "text"}/
                .6u
                  %input.text{name: "email", placeholder: "Email", type: "text"}/
              .row.half
                .12u
                  %textarea{name: "message", placeholder: "Message"}
              .row.half
                .12u
                  %ul.actions
                    %li
                      %a.button{href: "#"} Send Message
                    %li
                      %a.button{href: "#"} Clear Form
          %section.6u
            .row.no-collapse-1
              %ul.divided.icons.6u
                %li.icon.icon-twitter
                  %a{href: "#"}
                    %span.extra> twitter.com/
                    untitled
                %li.icon.icon-facebook
                  %a{href: "#"}
                    %span.extra> facebook.com/
                    untitled
                %li.icon.icon-dribbble
                  %a{href: "#"}
                    %span.extra> dribbble.com/
                    untitled
              %ul.divided.icons.6u
                %li.icon.icon-linkedin
                  %a{href: "#"}
                    %span.extra> linkedin.com/
                    untitled
                %li.icon.icon-youtube
                  %a{href: "#"}
                    %span.extra> youtube.com/
                    untitled
                %li.icon.icon-pinterest
                  %a{href: "#"}
                    %span.extra> pinterest.com/
                    untitled
      / Copyright
      #copyright.container
        %ul.menu
          %li © Ensemble Solutions. All rights reserved.
          %li
            Demo images:
            %a{href: "http://ineedchemicalx.deviantart.com/"} Felicia Simion
          %li
            Styles from
            %a{href: "http://html5up.net/"} HTML5 UP

